<section>
   <div style="padding-top: 1em; font-variant: small-caps; font-size: 1.3em;">
      <p>Output Properties</p>
   </div>
   <div>
      <button [ngClass]="{
         'btn': !btnclicked,
         'btn-clicked': btnclicked
      }"
      (click)="sumValue()">+</button>

      <input type="text" class="resultinput" size="4" [value]="resultvalue" #outputinput readonly>
      
      <button [ngClass]="{
         'btn': !btnclicked,
         'btn-clicked': btnclicked
      }"
      (click)="decreaseValue()">-</button>
   </div>
</section>

<div class="broadcast">
   <p>Learning about Event Broadcast (connecting a component to another by a same service)</p>
   <input type="text" size="20"
      #event
      (keyup.enter)="saveCourse(event.value.toString())">
   
   <ul>
      <li *ngFor="let course of courses">{{ course }}</li>
   </ul>
</div>