section{
   background-color: rgb(22, 22, 22);
   border-radius: 10px;
   padding-bottom: 1em;
   
}

div{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.btn{
   font-family: monospace;
   font-size: 1.5em;
   font-weight: bolder;
   background-color: darkblue;
   color: white;
   border: 1px solid white;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   border-radius: 7px;
   padding: 1em;
   width: 2em;
   height: 2em;
   margin: 1em;

   transition: 1s ease;
}

.btn-clicked{
   font-family: monospace;
   font-size: 1.5em;
   font-weight: bolder;
   background-color: lightskyblue;
   color: white;
   border: 1px solid white;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   border-radius: 7px;
   padding: 1em;
   width: 2em;
   height: 2em;
   margin: 1em;

   transition: 1s ease;
}

.btn:hover{
   transform: translate(.2em, .2em);
   cursor: pointer;
}

.btn-clicked:hover{
   transform: translate(.2em, .2em);
   cursor: pointer;
}

.resultinput{
   height: 2em;
   text-align: center;
}

.broadcast{
   background-color: rgb(141, 0, 71);
   color: white;
   font-family: monospace;
   padding: 1em;
   border-radius: 10px;
}