<div>
   <div class="prop-bind">
      <select id="prop-bind-select" #styl_class (change)="0">
         <option value="alert-danger">Danger</option>
         <option value="alert-warning">Warning</option>
         <option value="alert-success">Success</option>
      </select>
   
      <div class="bind_interpol {{ styl_class.value }}">
         <p>{{ interpolation }}</p>
      </div>
   
      <div class="class_styl_b"
         [class.alert-danger]="styl_class.value == 'alert-danger'"
         [style.display]="styl_class.value == 'alert-danger'? 'block' : 'none'">
         Studying
      </div>
   
      <div class="class_styl_b"
         [class.alert-warning]="styl_class.value == 'alert-warning'"
         [style.display]="styl_class.value == 'alert-warning'? 'block' : 'none'">
         Class and Style
      </div>
   
      <div class="class_styl_b"
         [class.alert-success]="styl_class.value == 'alert-success'"
         [style.display]="styl_class.value == 'alert-success'? 'block' : 'none'">
         Binding!
      </div>
   </div>
   
   <div class="event_binding">
      <p style="padding: .5em; font-family: monospace;"
         (mouseover)="onMouseOverOut()"
         (mouseout)="onMouseOverOut()"
         [class.highlight]="mouseover">
         Studiyng about Event Binding!
      </p>
      
      <div id="input_event_twoway">
         <div>
            <input type="text"
            #eventinput
            (keyup)="onKeyUp(eventinput.value)"
            (keyup.w)="onKeyEnter(eventinput.value)"
            (blur)="onKeyEnter(eventinput.value)">
            <p>Typing: "{{ keyupvalue }}"</p>
            <p>Saved: "{{ keyentervalue }}"</p>
         </div>

         <div>
            <!--<input type="text"
            #eventvalue
            [value]="keyupvalue_twoway"
            (input)="keyupvalue_twoway = eventvalue.value">
            <p>Typing: "{{ keyupvalue_twoway }}"</p>-->

            <!--<input type="text"
            #eventvalue
            [ngModel]="keyupvalue_twoway"
            (ngModelChange)="keyupvalue_twoway = eventvalue.value">
            <p>Typing: "{{ keyupvalue_twoway }}"</p>-->

            <input type="text"
            [(ngModel)]="keyupvalue_twoway">
            <p>My name is {{ keyupvalue_twoway }} (<my-first-component [thename]="myname"></my-first-component>)</p>
         </div>
      </div>

      <button id="btn_binding" (click)="btnClick()">
         Event Binding!
      </button>
      
      <input-property [var1]="text1" [var2]="text2" [var3]="text3">
         <ng-content select=".ng_title"></ng-content>
         <ng-content select=".ng_body"></ng-content>
      </input-property>

      <counter [value]="7"
         (changevalue)="changeValue($event)">
      </counter>
   </div>
</div>